[user]
	email = hoangseidel02@gmail.com
	name = Hoang Seidel

[diff]
        tool = difftastic

[difftool]
        prompt = false

[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"

[pager]
        difftool = true
