[user]
	email = hoangseidel02@gmail.com
	name = Hoang Seidel
	signingkey = 526F0A9176CEDB8E

[diff]
        tool = difftastic

[difftool]
        prompt = false

[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"

[pager]
        difftool = true
[commit]
	gpgsign = true
[core]
	autocrlf = input
[tag]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg

[alias]
	 smartlog = log --graph --pretty=format:'commit: %C(bold red)%h%Creset %C(red)[%H]%Creset %C(bold magenta)%d %Creset%ndate: %C(bold yellow)%cd %Creset%C(yellow)%cr%Creset%nauthor: %C(bold blue)%an%Creset %C(blue)[%ae]%Creset%n%C(cyan)%s%n%Creset'
