[user]
	email = hoangseidel02@gmail.com
	name = Hoang Seidel

[include]
    path = /home/hoang/Projects/delta/themes.gitconfig

[core]
    pager = delta
	autocrlf = input

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    ; features = collared-trogon

[merge]
    conflictstyle = diff3
	tool = flatpak run org.gnome.Meld

; [diff]
;     colorMoved = default
; 	external = difft
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
